<mat-card color="secondary" *ngIf="character" class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{character.name}}</mat-card-title>
      <mat-card-subtitle>{{character.species}}</mat-card-subtitle>
      <img mat-card-xl-image src="{{character.image}}" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>Status: {{character.status}}</p>
    <p>Gender: {{character.gender}}</p>
    <p>Origin: {{character.origin}}</p>
    <p>Last known location: {{character.location}}</p>
  </mat-card-content>
</mat-card>
